.selectedColor {
  height: 250px;
  width: 250px;
  background-color: red;
  border: solid;
}

.smallSquare {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border: solid;
  cursor: pointer;
}

.colorPickerOptions{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}
